@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
.content{
    max-width: 1600px;
    margin: 0 auto;}

.home-title{
    color: white;
    font-size: 2em;
    margin-top: 10px;}

    .container {
      position: relative;
      text-align: center;
      color: #03BD42;
      font-family: "Share Tech", "Lato", "Serif";
      font-size: xx-large;
    } 
    
    
    /* Top left text */
    .top-left {
      position: absolute;
      top: 8px;
      left: 16px;
      background-color: #000;
    }
    
    /* Bottom right text */
    .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
      background-color: #000;
    }

footer{

    padding: 25px 50px;
    margin-top: 200px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #03BD42;
}
.logo{width: 100px;}
header{
    background-color: black;
    font-family: "Share Tech", "Lato", "Serif";
    font-weight:bold;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;}
.links{
    color:#03BD42;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a.links{text-align: center;
    color: #03BD42;
    text-decoration: none;
    padding-right: 250px;}
a.links:hover{
    background-color:white;
}
#logo_link{
    padding-top: 175px;
    padding-right:0px;
}
.home-title{
    color: #03BD42;
    font-size: 2em;
    margin-top: 10px;
}

main{
    margin-right: 100px;
    margin-left: 100px;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form li+li {
    margin-top: 1em;
  }

  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  input,
  textarea {
    /* To make sure that all text fields have the same font settings
         By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
  }

  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }

  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
  }

  .button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
  }

  button {
    /* This extra margin represent roughly the same space as the space
         between the labels and their text fields */
    margin-left: .5em;}

    #feedback {
      background-color: antiquewhite;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: .5em;
      /* make this element invisible until we are ready for it */
      display: none;
    }

    .moveDown {
      margin-top: 3em;
    }
  